* {
  transition: all .15s ease;
}

html {
  background: #f7f7f7;
  /*background: white;*/
}

.app {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  margin-top: 50px;
}

.app .body {
  max-width: 960px;
  padding: 0 40px;
}

.app .body {
  margin-top: -20px;
}

.app .body .events > div:last-child,
.app .body .events > div:last-child .event:last-child {
  margin-bottom: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: .8;
}

button {
  background-color: #ce7812;
  border: 1px solid #ce7812;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 17px;
  font-weight: 400;
  height: 44px;
  padding: 0;
  width: 318px;
  margin: 50px auto 24px auto;
  cursor: pointer;
  flex-shrink: 0;
}

button:active {
  background-color: #0077e5;
  border: 1px solid transparent;
  opacity: .2;
  transform: scale(.98);
}

button:disabled {
  cursor: not-allowed;
  background-color: #0077e5;
  border: 1px solid transparent;
  opacity: .2;
  transform: scale(.98);
}

@media (max-width: 600px) {
  .app .body {
    padding: 0;
  }
}
