.app {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  margin-top: 50px;
}

.app .body {
  max-width: 960px;
  padding: 0 40px;
}

.app .body {
  margin-top: -20px;
}

.app .body > div:last-child,
.app .body > div:last-child .event:last-child {
  margin-bottom: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: .8;
}
