.date-header {
  margin: 80px 0 20px 0;
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
}

@media (max-width: 600px) {
  .date-header {
    margin-left: 16px;
    margin-right: 16px;
  }
}
