.events {
  overflow-y: auto;
  overflow-x: hidden;
}

.events .tabs {
  margin-top: 50px;
}

.events .tabs .tab {
  margin-right: 20px;
  color: #fd9319;
  cursor: pointer;
  padding: 0 5px 10px;
}

.events .tabs .tab.is-selected {
  border-bottom: 2px solid #fd9319;
}

.events .tabs .tab:hover {
  color: #ce7812;
}

.sticky-wrapper * {
  transition: none;
}

.show-only-pinned {
  color: #fd9319;
}

@media (max-width: 600px) {
  .events .tabs {
    margin-left: 16px;
    margin-right: 10px;
  }

  .events .tabs .tab {
    height: 48px;
    width: 85px;
    text-align: center;
    line-height: 20px;
  }
}
