.event {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  margin-top: 25px;
  border-radius: 2px;
  overflow: hidden;
  background: white;
}

.event .content {
  padding: 16px;
}

.event .image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position-y: center;
}

.event .content .title,
.event-modal.modal .modal-content .modal-header .modal-title {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.870588);
  display: block;
  line-height: 36px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.870588);
  text-decoration: none;
}

.event .content .place {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.541176);
}

.event .content .place a {
  color: #365899;
  margin-left: 5px;
}

.event .content .place a:hover {
  text-decoration: underline;
  opacity: 1;
}

.event .content .description {
  margin-top: auto;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.870588);
  height: 72px;
  overflow: hidden;
  cursor: pointer;
}

.modal.event-modal .modal-body {
  font-size: 16px;
}

.modal.event-modal .modal-body a {
  color: #0366d6;
}

@media (max-width: 600px) {
  .event {
    flex-direction: column !important;
    flex: 0 0 auto !important;
    border-radius: 0 !important;
    margin-bottom: 10px;
  }

  .event .image {
    width: 100%;
    height: 150px;
  }

  .event .content .description {
    margin-top: 15px;
  }
}
