.places-header {
  position: fixed;
  top: 0;
  background: #24292e;
  /*background: #f5f5f5;*/
  border-bottom: 1px solid black;
  height: 50px;
}

.places-header .places-header-body {
  max-width: 960px;
  padding: 0 25px;
  padding-bottom: 2px;
}

.places-header .search > input {
  background: #65696c;
  /*background: rgba(255, 255, 255, 0.3);*/
  border: none;
  outline: none;
  border-radius: 1px;
  width: 100%;
  height: 35px;
  padding: 16px;
  color: rgba(255, 255, 255, .8);
  font-size: 15px;
  font-weight: 100;
}

.places-header .search > input::placeholder {
  color: rgba(255, 255, 255, .5);
}

.places-header .plus {
  font-size: 30px;
  line-height: 37px;
  height: 40px;
  width: 40px;
  font-weight: 100;
  cursor: pointer;
  color: #ce7812;
}

.places-header .plus:hover {
  /*background-color: #0084ff;*/
  background-color: #ce7812;
  color: white;
  border-radius: 2px;
}

.places-header .logo {
  width: 40px;
  height: 40px;
  background: #eaeaea;
}

@media (max-width: 600px) {
  .places-header .places-header-body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .places-header .search.is-focused {
    margin-left: -60px;
    margin-right: -60px;
    z-index: 10;
  }

  .places-header .search.is-focused > input {
    height: 51px;
    margin-bottom: -1px;
  }
}
