.places-header {
  position: fixed;
  top: 0;
  z-index: 11;
  background: #24292e;
  /*background: #f5f5f5;*/
  border-bottom: 1px solid black;
  height: 50px;
}

.places-header .places-header-body {
  max-width: 960px;
  padding: 0 25px;
  padding-bottom: 2px;
}

.places-header .search {
  position: relative;
}

.places-header .search > .icon-clear {
  display: none;
  position: absolute;
  width: 35px;
  height: 35px;
  padding: 10px;
  color: red;
  right: 15px;
  top: 9px;
  cursor: pointer;
  fill: white;
}

.places-header .search > .icon-clear path {
  fill: rgba(255, 255, 255, .8);
}

.places-header .search > .icon-clear:hover path {
  fill: rgba(255, 255, 255, .5);
}

.places-header .search > input {
  background: #65696c;
  border: none;
  outline: none;
  border-radius: 1px;
  width: 100%;
  height: 35px;
  padding: 0 50px 0 25px;
  color: rgba(255, 255, 255, .8);
  font-size: 15px;
  font-weight: 100;
}

.places-header .search > input::placeholder {
  color: rgba(255, 255, 255, .5);
}

.places-header.search-is-active {
  background: #393e42;
}

.places-header.search-is-active .search {
  margin-left: -60px;
  margin-right: -60px;
  background-color: #393e42;
  z-index: 10;
}

.places-header.search-is-active .search > .icon-clear {
  display: block;
}

.places-header.search-is-active .search > input {
  height: 51px;
  margin-bottom: -1px;
  background-color: transparent;
}

.places-header .plus {
  font-size: 30px;
  line-height: 37px;
  height: 40px;
  width: 40px;
  font-weight: 100;
  cursor: pointer;
  color: #fd9319;
}

.places-header .plus:hover {
  /*background-color: #0084ff;*/
  background-color: #ce7812;
  color: white;
  border-radius: 2px;
}

.places-header .logo {
  width: 40px;
  height: 40px;
  background: #eaeaea;
}

@media (max-width: 600px) {
  .places-header .places-header-body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
