.places-header {
  position: fixed;
  top: 0;
  background: white;
  border-bottom: 1px solid #eaeaea;
}

.places-header .places-header-body {
  max-width: 960px;
  padding: 0 25px;
}

.places-header .places {
  overflow: auto;
}

.places-header .places .place {
  height: 100%;
  padding: 16px;
  cursor: pointer;
}

.places-header .plus {
  font-size: 30px;
  line-height: 37px;
  height: 40px;
  width: 40px;
  font-weight: 100;
  cursor: pointer;
}

.places-header .plus:hover {
  background-color: #0084ff;
  color: white;
  border-radius: 2px;
}

.places-header .place:hover,
.places-header .place.is-selected:hover {
  background: rgba(234, 234, 234, .7);
}

.places-header .place.is-selected {
  background: #eaeaea;
}

.places-header .logo {
  width: 40px;
  height: 40px;
}

@media (max-width: 600px) {
  .places-header .place:hover {
    background: transparent;
  }
}
