.welcome-page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.app .welcome-page > .body {
  margin-top: 0;
  padding: 0;
  max-width: 1000px;
}

.welcome-page h1 {
  font-size: 36px;
  font-weight: 100;
  margin: 0;
  color: rgba(0,0,0,.87);
  text-align: center;
  margin-top: 40px;
  padding: 0 30px;
}

.welcome-page p {
  font-size: 17px;
  font-weight: 100;
  margin: 0;
  color: rgba(0,0,0,.87);
  text-align: center;
  margin-top: 12px;
  padding: 0 30px;
}


.welcome-page button,
.choose-places-modal button {
  background-color: #0084ff;
  border: 1px solid #0084ff;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 17px;
  font-weight: 400;
  height: 44px;
  padding: 0;
  width: 318px;
  margin: 50px auto 24px auto;
  cursor: pointer;
  flex-shrink: 0;
}

.welcome-page button:active,
.choose-places-modal button:active {
  background-color: #0077e5;
  border: 1px solid transparent;
  opacity: .2;
  transform: scale(.98);
}

.welcome-page button:disabled,
.choose-places-modal button:disabled {
  cursor: not-allowed;
  background-color: #0077e5;
  border: 1px solid transparent;
  opacity: .2;
  transform: scale(.98);
}

.welcome-page .frame {
  width: 100%;
  margin-top: auto;
  /*margin-bottom: 5%;*/
}

.welcome-page .frame .image {
  background-image: url(https://cloud.githubusercontent.com/assets/4029499/25073279/9ddbec00-22e3-11e7-90d7-6f075172a9b1.png);
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: contain;
}

.choose-places-modal .centered-content-wrapper {
  min-width: 500px;
}

.choose-places-modal.modal .modal-content,
.choose-places-modal.modal .modal-body {
  overflow: visible;
}

.choose-places-modal .Select {
  margin: 0 16px;
}

.Select .Select-input {
  height: 40px;
}

.Select .Select-placeholder {
  line-height: 40px;
}
